* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #EBF0FF;
  display: grid;
  justify-content: center;
}

table {
  display: grid;
  row-gap: 1em;
}

thead {
  font-size: 1.25em;
}

td {
  font-size: 1.25em;
}

#app {
  margin-top: 2em;
  padding-top: 2em;
  box-shadow: 5px 5px 5px #424242;
  border: solid thick black;
  border-radius: 15px;
  width: 35em;
  background-color: #0F758A;
  color: #F2F2F2;
  display: grid;
  row-gap: 2em;
  justify-content: center;
}

tr {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
}

th,
td {
  justify-self: center;
  width: max-content;
}