/* Root to remove styling */
* {
  margin: 0;
  padding: 0;
}

/* Elements */
body {
  height: 100vh;
  background-color: #EBF0FF;
  display: grid;
  justify-content: center;
}

h1 {
  grid-area: h1;
}

h2 {
  grid-area: h2;
}

h1,
h2 {
  justify-self: center;
}

table {
  grid-area: table;
  border-collapse: collapse;
}

th {
  padding: 8px 0;
  text-align: start;
  background-color: #07343C;
}

th,
td {
  padding: 5px;
  font-size: 1.25em;
  border: solid #EBF0FF;
}

/* IDs */
#app {
  margin-top: 2em;
  padding: 2em 0;
  box-shadow: 10px 15px 5px #424242;
  border: solid black;
  border-radius: 15px;
  width: 35em;
  background-color: #0F758A;
  color: #F2F2F2;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  row-gap: 2em;
  grid-template-areas: 
  ". h1 ."
  ". h2 ."
  ". table .";
}

/* Pseudo */
tr:nth-child(even) {
  background-color: #0C5E6E;
}